header .carousel img {
	height: 60vh;
	width: 100%;
}
.carousel-caption {
	z-index: 0;
	top: 40%;
}

.about-intro {
	padding: 50px 30px 0 30px;
}
.about-bio {
	padding:  50px 30px;
}
.about-bio-text {
	padding-top: 30px;
	padding-bottom: 50px;
}

.about-mission {
	padding: 0 30px 30px 30px;
	background-image: url(img/about-banner2.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.65;
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.about-mission-content {
	background-color: #48a9a6;	
	padding: 20px;
	color: white;	
}


.about-services {
	padding: 50px 30px;
}
.about-services h1 {
	text-align: center;
	font-size: 3.5rem;
}

.about-service-content {
	padding-top: 50px;
}

.get-in-touch {
	background-color: teal;
	text-align: center;
	color: white;
	margin: 10px 20px;
	padding: 15px 20px;
	border-radius: 5px;
}
.get-in-touch a{
	color: white;
}

@media screen and (min-width: 768px) {
	.nav-links a{
		color: teal;
	}
	.nav-links a:hover {
		background-color: teal;
		color: white;
	}

	header .carousel h1 {
		font-size: 5.5rem;
	}
	header .carousel img {
		height: 60vh;
		width: 100%;
	}
	.about-intro h1 {
		font-size: 5.5rem;
	}
	.about-intro p {
		font-size: 1.3rem;
	}
	.about-bio {
		padding-left: 50px;
		padding-right: 50px;
	}
	.about-bio-text {
		padding-left: 50px;
		padding-right: 50px;
		line-height: 2;
		font-size: 1.2rem;
	}
	.aboout-mission {
		padding: 0 100px;
	}
	.about-mission-content {
		padding: 50px;
		margin: 0 20%;
	}
	.about-mission-content h1{
		font-size: 5.5rem;
	}
	.about-mission-content p {
		line-height: 1.8;
		font-size: 1.3rem;
	}

	.about-services {
		padding-left: 100px;
		padding-right: 100px;
	}
	
	.about-service-content h6 {
		font-size: 1.5rem;
		padding-top: 20px;
	}

	.about-service-content p {
		padding: 0 30px;
	}

	.get-in-touch {
		width: 500px;
		margin: 0 auto;
		padding-bottom: 5px;;
	}

	footer {
		margin-top: 30px;
	}
}