.contact {
	padding: 50px 30px;
	line-height: 1.8;
}

.contact-intro {
	padding-top: 50px;
}

.contact-main {
	padding-top: 50px;
}
.contact-icon {
	padding: 10px;
}
.mail {
	padding: 0 10px;
}
.contact-icon .fas {
	color: #48a9a6;
	font-weight: 900;
}

.contact-form {
	padding-top: 50px;
}

.contact-content {
	display: flex;
	flex-direction: row;
}

.socials {
	padding: 50px 0 70px 0;
}
.socials a {
	color: black;
	background-color: #d3d3d3;
	border-radius: 50%;
	padding: 15px;
	margin-left: 5px;
	margin-right: 5px;
}

.socials a:hover {
	background-color: #48a9a6;
	opacity: 0.3;
}

.socials .fab {
	font-size: 20px;
}

@media screen and (min-width: 768px) {
	.nav-item a{
		color: grey;
	}
	.nav-item a:hover {
		color: teal;
	}
	header .carousel h1 {
		font-size: 5.5rem;
	}
	header .carousel img {
		height: 60vh;
		width: 100%;
	}

	.contact h1 {
		font-size: 5.5rem;
	}

	.contact-main {
		padding: 30px;
	}

	.contact-wrapper {
		padding-right: 50px;
	}
	.contact-wrapper p {
		font-size: 1.2rem;
	}
}