
header .carousel img {
		height: 60vh;
		width: 100%;
}
.carousel-caption {
	z-index: 0;
	top: 40%;
}

.contact {
	padding: 50px 30px;
	line-height: 1.8;
}

.contact-intro {
	padding-top: 50px;
}

.contact-main {
	padding-top: 50px;
}
.contact-icon {
	padding: 10px;
}
.mail {
	padding: 0 10px;
}
.contact-icon .fas {
	color: #48a9a6;
	font-weight: 900;
}

.contact-form {
	padding-top: 50px;
}

.contact-content {
	display: flex;
	flex-direction: row;
}

.socials {
	padding: 50px 0 70px 0;
	text-align: center;
}
.socials h6 {
	padding: 30px;
}
.socials a {
	color: #008080;
}
.socials a:hover {
	opacity: 0.6;
}


.socials .fab {
	font-size: 30px;
	margin: 0 10px;
}
.fa-facebook {
	color: #4267B2;
}
.fa-twitter {
	color: #00acee;
}
.fa-instagram {
	color: #cd486b;
}
.fa-google-plus {
	color: #db4a39;
}
@media screen and (min-width: 768px) {
	.nav-links a{
		color: #008080;
	}
	.nav-links a:hover {
		background-color: teal;
		color: white;
	}
	header .carousel h1 {
		font-size: 5.5rem;
	}
	header .carousel img {
		height: 60vh;
		width: 100%;
	}

	.contact h1 {
		font-size: 5.5rem;
	}

	.contact-main {
		padding: 30px;
	}

	.contact-wrapper {
		padding-right: 50px;
	}
	.contact-wrapper p {
		font-size: 1.2rem;
	}
}