.hotel-main {
	padding: 100px 15px 0px 15px;
}
.hotel-section {
	padding: 50px 20px;
}
.hotel-section img {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 100%;
}

.hotel-content {
	padding-top: 50px;
}

.hotel-content hr {
	border-bottom: 3px solid black;
}

.pagination {
	position: relative;
	left: 10%;
}

@media screen and (min-width: 768px) {
	.nav-item a{
		color: grey;
	}
	.nav-item a:hover {
		color: teal;
	}

	header .carousel img {
		height: 60vh;
		width: 100%;
	}

	.hotel-main {
		padding-left: 100px;
		padding-right: 100px;
	}

	.pagination {
		left: 40%;
	}
}
