html, body {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	width: 100%;
	overflow-x: hidden;
  font-family: Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
}


h1, h2, h3, h4, h5, h6 {
	font-family: 'Abril Fatface', cursive;
	font-size: 2.5rem;
}

.navbar-main {
	background-color: teal;
}
.navbar-toggler {
	background-color: white;
	height: 50px;
	width: 50px;
}


header .carousel-home img {
	width: 100%;
	height: 80vh;
	object-fit: cover;
}
.nav-item {
	border-bottom: 1px solid white;
	padding: 10px;
}
.nav-item a {
	color: white;
}

.home-services {
	padding: 50px 20px;

}

.carousel-item {
	position: relative;
}

.banner-caption-home {
	position: absolute;
	top: 25%;
  left: 16px;
	padding-right: 50px;
	color: white;
}
.banner-caption-home a {
	color: white;
}
.banner-caption-home a:hover {
	color: white;
	text-decoration: none;
}
.banner-caption-home h1 {
	
	font-size: 3.5rem;
}
.banner-caption-home p {

	text-shadow: #212529;
	font-size: 1.2rem;
	font-family: 'Abril Fatface', cursive;
}

.banner-caption-home button {
	border: none;
	border-radius: 5px;
	padding: 5px 20px;
	
}
.socials-home {
	margin-top: 10px;
	text-align: center;
}
.socials-home .fab {
	padding: 10px;
	font-size: 20px;
	color: #008080;
}
.socials-home .fab:hover {
	color: white;
}
.banner-btn {
	padding: 10px 15px;
	border-radius: 5px;
	border: 2px solid #008080;
}
.banner-btn:hover {
	background-color: #008080;

}
.banner-caption-home a:hover {
	text-decoration: none;
}
.banner-caption {
	position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
	color: white;
}


.home-services .service-card1 .image {
	height: 300px;
  background-color: red;
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 70%);
  background-image: url(img/ticket.jpg);
	background-size: cover;
	background-position: center center;
  position: relative;
  z-index: 1;
  
}
.home-services .service-card2 .image {
	height: 300px;
  background-color: red;
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 70%);
  background-image: url(img/service2.jpg);
	background-size: cover;
	background-position: center center;
  position: relative;
  z-index: 1;
  
}
.home-services .service-card3 .image {
	height: 300px;
  background-color: red;
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 70%);
  background-image: url(img/service3.jpg);
	background-size: cover;
	background-position: center center;
  position: relative;
  z-index: 1;
  
}
.home-services .service-card4 .image {
	height: 300px;
  background-color: red;
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 70%);
  background-image: url(img/service4.jpg);
	background-size: cover;
	background-position: center center;
  position: relative;
  z-index: 1;
  
}
.service-wrapper {
	margin-top: 50px;
	padding: 0 20px;
}
.service-content {
	position: relative;
	background-color: #f4f4f4;
	margin-top: 20px;
	margin-bottom: 20px;
}
.service-content .subtitle {
	display: inline-block;
  background-color: #1665C4;
	padding: 40px 10px 10px 10px;
  text-align: center;
  color: white;
  position: absolute;
  top: 210px;
  left: 30px;
}
.service-content .title {
	padding: 20px;
  font-size: 24px;
}


.home-services .btn {
	margin-top: 50px;
	padding: 10px 30px;

}

.hotels {
	padding: 50px 20px;
}

.hotels .carousel {
	padding-top: 50px;
}

.hotels .card {
	padding: 20px;
}

.hotels .card img {
	height: 250px;
}

.hotels .carousel .carousel-control {
	background-color: white;
}

.reviews {
	margin-top: 50px;
	background-image: url(img/review-bg.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
	padding: 30px;
	color: white;
}
.review-intro {
	text-align: center;
	padding-bottom: 30px;
}
.review-content1 {
	background-color: grey;
	opacity: 0.9;
	padding: 50px 20px;
	line-height: 2;
}
.review-content2 {
	background-color: white;
	opacity: 0.9;
	padding: 50px 20px;
	color: black;
	line-height: 2;
}
.checked {
  color: orange;
}

.home-tours {
	padding-top: 50px;
}
.home-tours h1, h3, .btn {
	margin-left: 10px;
}
.tour-btn {
	background-color: #008080;
	color: white;
}
.tour-content {
	padding-top: 50px;
	height: 100%;
}

.tour-content-img {
	height: 250px;
	position: relative;
}
.tour-content-img img {
	height: 100%;
	width: 100%;
	object-fit: cover;
}

.tour-content-text hr {
	margin-right: 80%;
	margin-left: 10px;
	border-bottom: 1px solid black;
	
}
.tour-content-text {
	position: absolute;
	top: 50%;
  left: 16px;
  transform: translate(0, -50%);
	color: white;
}
.tour-content-text1 {
	position: absolute;
	top: 50%;
	left: 16px;
	color: white;
}


.footer {
	background-image: linear-gradient(to right,rgba(72, 169, 166, 0.83),rgba(72,169,166,0.83));
  background-repeat: repeat-y;
  background-position: center center;
  background-size: auto;
  background-attachment: scroll;
	padding: 30px;
	color: white;
	text-align: center;
}
.footer a {
	color: white;
	padding: 0 10px;
}
.socials-home {
	margin-top: 10px;
	text-align: center;
}
.socials-home .fab {
	padding: 10px;
	font-size: 20px;
	color: #008080;
}
.socials-home .fab:hover {
	color: white;
}
@media screen and (min-width: 768px) {
	.navbar-main {
		background-color: transparent;
	}
	.navbar-nav {
		margin-left: auto;
	}
	.nav-item {
		border: none;
	}
	.nav-item a {
		color: #008080;
	}
	.carousel-item .carousel-img-home {
		height: 110vh;
	}
	.banner-caption-home {
		left: 50px;
	}
	.banner-caption-home h1{
		font-size: 6rem;
		max-width: 70%;
	}
	.banner-caption-home p {
		max-width: 50%;
		font-size: 1.1rem;
		line-height: 1.8;
	}
	

	.home-services h1 {
		font-size: 4.5rem;
	}
	.home-services h5 {
		font-size: 2rem;;
	}

	.service-wrapper {
		padding-left: 50px;
		padding-right: 50px;
		
	}
	.hotels {
		padding-left: 30%;
		padding-right: 30%;
	}

	.reviews {
		height: 120vh;
		padding: 50px;
	}

	.review-intro h1{
		font-size: 5.5rem;
	}

	.review-content1, .review-content1 {
		height: 400px;
		padding-left: 50px;
		padding-right: 50px;
	}

	.tour-content .tour-content-img {
		height: 500px;
	}

	.tour-content-text {
		top: 30%;
	}

	.tours-intro {
		padding: 100px;
	}

	.tours-intro h1 {
		font-size: 5.5rem;
	}
	.tour-content .italy {
		margin-top: 50px;
	}
	.partners-intro {
		text-align: center;

	}
	.partners-intro h1 {
		font-size: 5.5rem;
	}

	.partners-wrapper {
		padding: 50px;
	}
	.partners-text  {
		height: 350px;
	}
	.partners-image {
		height: 350px;
	}
	.partners-text h1 {
		font-size: 3rem;
		line-height: 1.5;
	}
	.partners-text p {
		line-height: 1.6;
	}

	footer {
		height: 150px;
		text-align: center
	}
	
	
}